<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Administrator</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Administrator</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Department</th>
					<th>Salary</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="administrator : ${administrators}">
					<td th:text="${administrator.id}"></td>
					<td th:text="${administrator.name}"></td>
					<td th:text="${administrator.department}"></td>
					<td th:text="${administrator.salary}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</html>
